html, body {
    width: 100%;
    height: 100%;
    font-size: calc(13px + 4 * ((100vw - 300px) / 1300));
}

.Main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CardsContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 20px 0 5px 0;
    max-width: 700px;
    min-width: 200px;
}

.CategoryCard {
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 2fr;
    background-color: rgb(207, 230, 255);
    border-radius: 3px;
    margin: 1px 0 1px 0;
}
.CategoryCard p {
    font-weight: bold;
    margin: 10px 0px 10px 0px;
}

.ItemCard {
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 2fr;
    justify-content: end;
    padding: 1% 5% 1% 5%;
    background-Color: rgba(0, 0, 0, 0.1);
}
.ItemCard p {
    font-weight: normal;
    margin: 0;
}
.ItemCard .DeleteButton {
    width: 20px;
    height: 20px;
    margin: 0 0 0 5px
}
.ItemCard .DeleteButton:hover {
    cursor: pointer;
}

.ValueDiv {
    justify-self: end;
    align-self: center;
    align-content: center;
    justify-content: center;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.TotalCard {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(143, 197, 255);
    border-radius: 3px;
    margin: 1px 0 1px 0;
}

.TotalCard p {
    font-weight: bold;
    margin: 10px 0px 10px 0px;
}

.InputForm {
    width: 80%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr;
    max-width: 700px;
    min-width: 200px;
}

.InputForm input, select, button {
    min-width: 50px;
    text-align: center;
}

.Message {
    white-space: pre-wrap;
    text-align: center;
    margin: 20px 0 0 0;
}